<div class="card">
    <img class="card-img" src="{{imagen}}" alt="">
    <div class="card-info">
        <h2>{{ categoria | uppercase }}</h2>
        <h3>{{ titulo }}</h3>

        <p>{{ contenido }}</p>

        
        <p class="card-destacado" *ngIf="destacado"> <!-- Si queres que muestre false, usamos ! -->
            Oferta Inbatible!!
        </p>

      <!--   <ul>
            <li *ngFor="let numero of numeros">
                Este compartimento tiene el numero: {{ numero }}
            </li>

        </ul> -->

        <p class="card-info_precio">
            {{ precio | currency}} <br>
            Incluye impuestos, tasas y cargos.
        </p>
    </div>
</div>
