.card {
    max-width: 400px ;
    height: 500px;
    border: 1px gray solid;
    
}

.card-img{
    max-width: 100%;

}

h2 {
    margin: 8px 15px;
    font-size: small;
}

h3 {
    margin-top: 30px;
    margin-left: 15px;
    color: grey;
    font-size:x-large
}

p {
    margin-left: 15px;
    color: grey;

}

.card-info_precio{
    margin-top: 100px;
    color: red;
}

.card-destacado{
    background-color: yellow;
    color: var(--violeta);
    display: inline-block;
    padding: 4px;
    margin:  12px 0px;
}